## 美国职业棒球数据分析U报告 1985-2015

In [32]:
START_YEAR = 1985

读取球队数据

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
  
origin_df = pd.read_csv('./baseballdatabank-master/core/Teams.csv')
print origin_df.columns
years_df = origin_df.set_index('yearID')
teams_df = origin_df.set_index('teamID')

Index([u'yearID', u'lgID', u'teamID', u'franchID', u'divID', u'Rank', u'G',
       u'Ghome', u'W', u'L', u'DivWin', u'WCWin', u'LgWin', u'WSWin', u'R',
       u'AB', u'H', u'2B', u'3B', u'HR', u'BB', u'SO', u'SB', u'CS', u'HBP',
       u'SF', u'RA', u'ER', u'ERA', u'CG', u'SHO', u'SV', u'IPouts', u'HA',
       u'HRA', u'BBA', u'SOA', u'E', u'DP', u'FP', u'name', u'park',
       u'attendance', u'BPF', u'PPF', u'teamIDBR', u'teamIDlahman45',
       u'teamIDretro'],
      dtype='object')

读取薪资数据

In [34]:
salaries_df = pd.read_csv('./baseballdatabank-master/core/Salaries.csv')
salaries_df = salaries_df[salaries_df['yearID']>=START_YEAR]
print salaries_df

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
5        1985    ATL   NL  chambch01    800000
6        1985    ATL   NL  dedmoje01    150000
7        1985    ATL   NL  forstte01    483333
8        1985    ATL   NL  garbege01    772000
9        1985    ATL   NL  harpete01    250000
10       1985    ATL   NL  hornebo01   1500000
11       1985    ATL   NL  hubbagl01    455000
12       1985    ATL   NL  mahleri01    407500
13       1985    ATL   NL  mcmurcr01    275000
14       1985    ATL   NL  mumphje01    775000
15       1985    ATL   NL  murphda05   1625000
16       1985    ATL   NL  oberkke01    616667
17       1985    ATL   NL  perezpa01    450000
18       1985    ATL   NL  perryge01    120000
19       1985    ATL   NL  ramirra01    750000
20       1985    ATL   NL  suttebr01   1354167
21       1985    ATL   NL  washicl01    800000
22       1985    BAL   AL  boddimi01    625000
23       1985    BAL   AL  dauerri01    480000
24       1985    BAL   AL  davisst02    437500
25       1985    BAL   AL  dempsri01    512500
26       1985    BAL   AL  dwyerji01    375000
27       1985    BAL   AL  flanami01    641667
28       1985    BAL   AL   fordda01    450000
29       1985    BAL   AL  grosswa01    483333
...       ...    ...  ...        ...       ...
25545    2015    TOR   AL  tollest01    517300
25546    2015    WAS   NL  barreaa01    514200
25547    2015    WAS   NL  cedenxa01    516500
25548    2015    WAS   NL  dendema01    512972
25549    2015    WAS   NL  desmoia01  11000000
25550    2015    WAS   NL  escobyu01   5000000
25551    2015    WAS   NL  espinda01   1800000
25552    2015    WAS   NL  fistedo01  11400000
25553    2015    WAS   NL  gonzagi01  11000000
25554    2015    WAS   NL  harpebr03   2500000
25555    2015    WAS   NL  janssca01   3500000
25556    2015    WAS   NL  johnsre02   1000000
25557    2015    WAS   NL  lobatjo01   1200000
25558    2015    WAS   NL  moorety01    518200
25559    2015    WAS   NL  ramoswi01   3550000
25560    2015    WAS   NL  rendoan01   2500000
25561    2015    WAS   NL  roarkta01    529600
25562    2015    WAS   NL  robincl01    525000
25563    2015    WAS   NL  scherma01  17142000
25564    2015    WAS   NL   spande01   9000000
25565    2015    WAS   NL  stammcr01   2250000
25566    2015    WAS   NL  storedr01   5700000
25567    2015    WAS   NL  strasst01   7400000
25568    2015    WAS   NL  taylomi02    508700
25569    2015    WAS   NL  thornma01   3500000
25570    2015    WAS   NL  treinbl01    512800
25571    2015    WAS   NL  ugglada01    507500
25572    2015    WAS   NL  werthja01  21000000
25573    2015    WAS   NL  zimmejo02  16500000
25574    2015    WAS   NL  zimmery01  14000000

[25575 rows x 5 columns]

#### 计算球队数据的相关性

In [35]:
grp_salaries = salaries_df[['yearID', 'teamID', 'salary']].groupby(['yearID', 'teamID'])

In [36]:
print grp_salaries.describe()

              salary                                                    \
               count          mean           std       min         25%
yearID teamID
1985   ATL      22.0  6.730455e+05  3.970351e+05  120000.0   451250.00
       BAL      22.0  5.254869e+05  3.189283e+05   60000.0   390625.00
       BOS      25.0  4.359024e+05  2.985073e+05  115000.0   177500.00
       CAL      28.0  5.152819e+05  3.052799e+05   60000.0   321666.75
       CHA      21.0  4.688656e+05  3.440961e+05   60000.0   195000.00
       CHN      22.0  5.774053e+05  3.190828e+05  200000.0   335000.25
       CIN      22.0  3.799962e+05  3.227896e+05   60000.0   126875.00
       CLE      20.0  3.275833e+05  2.290844e+05  110000.0   197500.00
       DET      20.0  5.174072e+05  2.863597e+05   76000.0   250000.00
       HOU      20.0  4.996525e+05  3.119774e+05   60000.0   294166.75
       KCA      22.0  4.236900e+05  3.009853e+05   95000.0   181875.00
       LAN      23.0  4.768660e+05  3.275862e+05   60000.0   264333.50
       MIN      19.0  3.034116e+05  2.067939e+05   60000.0   125000.00
       ML4      19.0  5.939004e+05  3.243766e+05   60000.0   412500.00
       MON      20.0  4.735083e+05  3.083745e+05   60000.0   280000.00
       NYA      20.0  7.119102e+05  4.422877e+05  100000.0   450000.00
       NYN      21.0  5.159410e+05  5.452768e+05   60000.0   200000.00
       OAK      21.0  4.313622e+05  2.913802e+05   60000.0   207500.00
       PHI      19.0  5.328929e+05  4.922128e+05   60000.0   228500.00
       PIT      19.0  4.856579e+05  3.398478e+05   60000.0   177500.00
       SDN      22.0  5.016629e+05  4.233321e+05  130000.0   163750.00
       SEA      18.0  2.562778e+05  1.588618e+05   71600.0   159250.00
       SFN      20.0  4.110857e+05  2.563162e+05   60000.0   196500.00
       SLN      25.0  4.726833e+05  4.093066e+05   60000.0   150000.00
       TEX      20.0  3.838250e+05  2.128347e+05   60000.0   207500.00
       TOR      20.0  4.406275e+05  2.753571e+05   60000.0   238750.25
1986   ATL      29.0  5.897512e+05  5.014933e+05   60000.0   200000.00
       BAL      29.0  4.483192e+05  3.187640e+05   60000.0   167500.00
       BOS      29.0  4.966289e+05  4.404414e+05   60000.0   255000.00
       CAL      29.0  4.974917e+05  3.637606e+05   60000.0   142000.00
...              ...           ...           ...       ...         ...
2015   ARI      29.0  2.132207e+06  2.651823e+06  507500.0   513000.00
       ATL      24.0  2.990885e+06  3.454720e+06  507500.0   517187.50
       BAL      28.0  4.108744e+06  4.070366e+06  514000.0   524875.00
       BOS      32.0  5.659481e+06  6.241481e+06  508500.0   539875.00
       CHA      27.0  4.161989e+06  4.661626e+06  510000.0   537500.00
       CHN      28.0  4.138547e+06  4.729434e+06  508000.0   528625.00
       CIN      27.0  4.187862e+06  4.397406e+06  507500.0   772500.00
       CLE      29.0  3.022888e+06  3.654936e+06  507700.0   520400.00
       COL      25.0  3.827544e+06  5.129872e+06  509500.0   517500.00
       DET      25.0  6.891390e+06  8.081387e+06  507500.0   520000.00
       HOU      28.0  2.580579e+06  2.708849e+06  511200.0   516600.00
       KCA      27.0  4.152112e+06  3.580328e+06  509525.0  1237500.00
       LAA      27.0  4.444645e+06  6.188836e+06  509500.0   516875.00
       LAN      29.0  7.441103e+06  8.570340e+06  510000.0   693000.00
       MIA      24.0  2.835688e+06  3.306945e+06  507500.0   543750.00
       MIL      29.0  3.477586e+06  4.503944e+06  507500.0   510500.00
       MIN      25.0  4.310200e+06  5.509770e+06  510000.0   537500.00
       NYA      29.0  7.336274e+06  8.355235e+06  507500.0   554100.00
       NYN      25.0  3.870667e+06  5.257764e+06  509125.0   523925.00
       OAK      28.0  2.823339e+06  3.456385e+06  507500.0   512500.00
       PHI      26.0  4.295885e+06  7.015524e+06  508000.0   517875.00
       PIT      29.0  3.065259e+06  3.246218e+06  510000.0   531000.00
       SDN      26.0  4.555435e+06  5.527876e+06  508500.0   541625.00
       SEA      25.0  4.888348e+06  6.762336e+06  509300.0   527000.00
       SFN      27.0  6.100056e+06  6.091981e+06  509000.0  1275000.00
       SLN      26.0  4.586212e+06  5.801085e+06  507500.0   524000.00
       TBA      29.0  2.224870e+06  2.696028e+06  507500.0   513800.00
       TEX      30.0  4.791426e+06  6.984724e+06  507000.0   514137.50
       TOR      25.0  4.519696e+06  6.269735e+06  508500.0   517300.00
       WAS      29.0  5.365085e+06  5.965111e+06  507500.0   525000.00


                     50%          75%         max
yearID teamID
1985   ATL      620833.5    793750.00   1625000.0
       BAL      497916.5    614062.50   1472819.0
       BOS      325000.0    650000.00   1075000.0
       CAL      493750.0    740250.00   1100000.0
       CHA      333333.0    685000.00   1242333.0
       CHN      502500.0    730000.00   1450000.0
       CIN      252500.0    515000.00   1071429.0
       CLE      275000.0    406250.00   1100000.0
       DET      562500.0    677500.00   1083333.0
       HOU      388333.5    711250.00   1350000.0
       KCA      337333.5    589999.75   1000000.0
       LAN      435000.0    590625.00   1270000.0
       MIN      293750.0    420000.00    728571.0
       ML4      560000.0    818750.00   1176190.0
       MON      375000.0    650000.00   1200000.0
       NYA      618750.0    832500.00   1795704.0
       NYN      325000.0    560000.00   2028571.0
       OAK      350000.0    608333.00   1087500.0
       PHI      350000.0    660000.00   2130300.0
       PIT      425000.0    720833.50   1075000.0
       SDN      332500.0    791562.50   1713333.0
       SEA      204000.0    313750.00    690000.0
       SFN      365000.0    570000.00    900000.0
       SLN      457500.0    700000.00   1555000.0
       TEX      347000.0    571250.00    720000.0
       TOR      353150.0    623125.00   1000000.0
1986   ATL      505000.0    786667.00   1825000.0
       BAL      400000.0    600000.00   1190000.0
       BOS      375000.0    650000.00   1984423.0
       CAL      425000.0    853479.00   1200000.0
...                  ...          ...         ...
2015   ARI      800000.0   3100000.00  12000000.0
       ATL     1400000.0   4062500.00  12000000.0
       BAL     3200000.0   4812500.00  13333333.0
       BOS     2125000.0  11453250.00  19750000.0
       CHA     1950000.0   7333000.00  15750000.0
       CHN     2515000.0   5171500.00  20000000.0
       CIN     1850000.0   8025000.00  14000000.0
       CLE     1550000.0   4000000.00  15000000.0
       COL     1500000.0   5500000.00  20000000.0
       DET     3000000.0  10500000.00  28000000.0
       HOU     1068750.0   4043750.00  10000000.0
       KCA     2640000.0   7250000.00  12500000.0
       LAA     1312000.0   5804000.00  24000000.0
       LAN     4000000.0  10000000.00  32571000.0
       MIA     1450000.0   2875000.00  11000000.0
       MIL      525500.0   6237500.00  14000000.0
       MIN     2000000.0   5500000.00  23000000.0
       NYA     3300000.0  13000000.00  23125000.0
       NYN      725000.0   5300000.00  20000000.0
       OAK     1243750.0   3875000.00  13000000.0
       PHI      825000.0   3725000.00  25000000.0
       PIT     1750000.0   4000000.00  11666666.0
       SDN     1825000.0   7312500.00  21250000.0
       SEA     2505000.0   6700000.00  24857000.0
       SFN     4000000.0   7875000.00  21000000.0
       SLN     2000000.0   6281250.00  19500000.0
       TBA     1021800.0   3025000.00  11000000.0
       TEX      937500.0   4593750.00  24000000.0
       TOR     1021600.0   5000000.00  22000000.0
       WAS     2500000.0   9000000.00  21000000.0

[888 rows x 8 columns]

In [37]:
#computed_grp_salaries_df = grp_salaries['salary'].agg([np.sum, np.std, np.mean, np.min, np.max]).reset_index()
computed_grp_salaries_df = grp_salaries['salary'].agg([pd.Series.count, np.sum, np.std, np.mean, np.max]).reset_index()
print computed_grp_salaries_df

     yearID teamID  count        sum           std          mean      amax
0      1985    ATL     22   14807000  3.970351e+05  6.730455e+05   1625000
1      1985    BAL     22   11560712  3.189283e+05  5.254869e+05   1472819
2      1985    BOS     25   10897560  2.985073e+05  4.359024e+05   1075000
3      1985    CAL     28   14427894  3.052799e+05  5.152819e+05   1100000
4      1985    CHA     21    9846178  3.440961e+05  4.688656e+05   1242333
5      1985    CHN     22   12702917  3.190828e+05  5.774053e+05   1450000
6      1985    CIN     22    8359917  3.227896e+05  3.799962e+05   1071429
7      1985    CLE     20    6551666  2.290844e+05  3.275833e+05   1100000
8      1985    DET     20   10348143  2.863597e+05  5.174072e+05   1083333
9      1985    HOU     20    9993051  3.119774e+05  4.996525e+05   1350000
10     1985    KCA     22    9321179  3.009853e+05  4.236900e+05   1000000
11     1985    LAN     23   10967917  3.275862e+05  4.768660e+05   1270000
12     1985    MIN     19    5764821  2.067939e+05  3.034116e+05    728571
13     1985    ML4     19   11284107  3.243766e+05  5.939004e+05   1176190
14     1985    MON     20    9470166  3.083745e+05  4.735083e+05   1200000
15     1985    NYA     20   14238204  4.422877e+05  7.119102e+05   1795704
16     1985    NYN     21   10834762  5.452768e+05  5.159410e+05   2028571
17     1985    OAK     21    9058606  2.913802e+05  4.313622e+05   1087500
18     1985    PHI     19   10124966  4.922128e+05  5.328929e+05   2130300
19     1985    PIT     19    9227500  3.398478e+05  4.856579e+05   1075000
20     1985    SDN     22   11036583  4.233321e+05  5.016629e+05   1713333
21     1985    SEA     18    4613000  1.588618e+05  2.562778e+05    690000
22     1985    SFN     20    8221714  2.563162e+05  4.110857e+05    900000
23     1985    SLN     25   11817083  4.093066e+05  4.726833e+05   1555000
24     1985    TEX     20    7676500  2.128347e+05  3.838250e+05    720000
25     1985    TOR     20    8812550  2.753571e+05  4.406275e+05   1000000
26     1986    ATL     29   17102786  5.014933e+05  5.897512e+05   1825000
27     1986    BAL     29   13001258  3.187640e+05  4.483192e+05   1190000
28     1986    BOS     29   14402239  4.404414e+05  4.966289e+05   1984423
29     1986    CAL     29   14427258  3.637606e+05  4.974917e+05   1200000
..      ...    ...    ...        ...           ...           ...       ...
858    2015    ARI     29   61834000  2.651823e+06  2.132207e+06  12000000
859    2015    ATL     24   71781250  3.454720e+06  2.990885e+06  12000000
860    2015    BAL     28  115044833  4.070366e+06  4.108744e+06  13333333
861    2015    BOS     32  181103400  6.241481e+06  5.659481e+06  19750000
862    2015    CHA     27  112373700  4.661626e+06  4.161989e+06  15750000
863    2015    CHN     28  115879310  4.729434e+06  4.138547e+06  20000000
864    2015    CIN     27  113072286  4.397406e+06  4.187862e+06  14000000
865    2015    CLE     29   87663766  3.654936e+06  3.022888e+06  15000000
866    2015    COL     25   95688600  5.129872e+06  3.827544e+06  20000000
867    2015    DET     25  172284750  8.081387e+06  6.891390e+06  28000000
868    2015    HOU     28   72256200  2.708849e+06  2.580579e+06  10000000
869    2015    KCA     27  112107025  3.580328e+06  4.152112e+06  12500000
870    2015    LAA     27  120005415  6.188836e+06  4.444645e+06  24000000
871    2015    LAN     29  215792000  8.570340e+06  7.441103e+06  32571000
872    2015    MIA     24   68056500  3.306945e+06  2.835688e+06  11000000
873    2015    MIL     29  100850000  4.503944e+06  3.477586e+06  14000000
874    2015    MIN     25  107755000  5.509770e+06  4.310200e+06  23000000
875    2015    NYA     29  212751957  8.355235e+06  7.336274e+06  23125000
876    2015    NYN     25   96766683  5.257764e+06  3.870667e+06  20000000
877    2015    OAK     28   79053501  3.456385e+06  2.823339e+06  13000000
878    2015    PHI     26  111693000  7.015524e+06  4.295885e+06  25000000
879    2015    PIT     29   88892499  3.246218e+06  3.065259e+06  11666666
880    2015    SDN     26  118441300  5.527876e+06  4.555435e+06  21250000
881    2015    SEA     25  122208700  6.762336e+06  4.888348e+06  24857000
882    2015    SFN     27  164701500  6.091981e+06  6.100056e+06  21000000
883    2015    SLN     26  119241500  5.801085e+06  4.586212e+06  19500000
884    2015    TBA     29   64521233  2.696028e+06  2.224870e+06  11000000
885    2015    TEX     30  143742789  6.984724e+06  4.791426e+06  24000000
886    2015    TOR     25  112992400  6.269735e+06  4.519696e+06  22000000
887    2015    WAS     29  155587472  5.965111e+06  5.365085e+06  21000000

[888 rows x 7 columns]

In [38]:
team_with_salaries_df = pd.merge(computed_grp_salaries_df, origin_df[['yearID', 'teamID', 'Rank', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'Ghome', 'attendance']], how='inner', on=['yearID', 'teamID']).set_index(['yearID', 'teamID'])

调整球队排名的计算。把季后赛成绩和常规赛成绩统一到一个排名字段ARank，后面以此为依据计算和排名相关的变量

In [39]:
def rank_adjust(row):
    rank = row['Rank'] + 3
    if row['WSWin'] == 'Y':
        rank -= 3
    elif row['LgWin'] == 'Y':
        rank -= 2
    return rank

team_with_salaries_df['ARank'] = team_with_salaries_df.apply(lambda row: rank_adjust(row), axis=1)
print team_with_salaries_df

               count        sum           std          mean      amax  Rank  \
yearID teamID
1985   ATL        22   14807000  3.970351e+05  6.730455e+05   1625000     5
       BAL        22   11560712  3.189283e+05  5.254869e+05   1472819     4
       BOS        25   10897560  2.985073e+05  4.359024e+05   1075000     5
       CAL        28   14427894  3.052799e+05  5.152819e+05   1100000     2
       CHA        21    9846178  3.440961e+05  4.688656e+05   1242333     3
       CHN        22   12702917  3.190828e+05  5.774053e+05   1450000     4
       CIN        22    8359917  3.227896e+05  3.799962e+05   1071429     2
       CLE        20    6551666  2.290844e+05  3.275833e+05   1100000     7
       DET        20   10348143  2.863597e+05  5.174072e+05   1083333     3
       HOU        20    9993051  3.119774e+05  4.996525e+05   1350000     3
       KCA        22    9321179  3.009853e+05  4.236900e+05   1000000     1
       LAN        23   10967917  3.275862e+05  4.768660e+05   1270000     1
       MIN        19    5764821  2.067939e+05  3.034116e+05    728571     4
       ML4        19   11284107  3.243766e+05  5.939004e+05   1176190     6
       MON        20    9470166  3.083745e+05  4.735083e+05   1200000     3
       NYA        20   14238204  4.422877e+05  7.119102e+05   1795704     2
       NYN        21   10834762  5.452768e+05  5.159410e+05   2028571     2
       OAK        21    9058606  2.913802e+05  4.313622e+05   1087500     4
       PHI        19   10124966  4.922128e+05  5.328929e+05   2130300     5
       PIT        19    9227500  3.398478e+05  4.856579e+05   1075000     6
       SDN        22   11036583  4.233321e+05  5.016629e+05   1713333     3
       SEA        18    4613000  1.588618e+05  2.562778e+05    690000     6
       SFN        20    8221714  2.563162e+05  4.110857e+05    900000     6
       SLN        25   11817083  4.093066e+05  4.726833e+05   1555000     1
       TEX        20    7676500  2.128347e+05  3.838250e+05    720000     7
       TOR        20    8812550  2.753571e+05  4.406275e+05   1000000     1
1986   ATL        29   17102786  5.014933e+05  5.897512e+05   1825000     6
       BAL        29   13001258  3.187640e+05  4.483192e+05   1190000     7
       BOS        29   14402239  4.404414e+05  4.966289e+05   1984423     1
       CAL        29   14427258  3.637606e+05  4.974917e+05   1200000     1
...              ...        ...           ...           ...       ...   ...
2015   ARI        29   61834000  2.651823e+06  2.132207e+06  12000000     3
       ATL        24   71781250  3.454720e+06  2.990885e+06  12000000     4
       BAL        28  115044833  4.070366e+06  4.108744e+06  13333333     3
       BOS        32  181103400  6.241481e+06  5.659481e+06  19750000     5
       CHA        27  112373700  4.661626e+06  4.161989e+06  15750000     4
       CHN        28  115879310  4.729434e+06  4.138547e+06  20000000     3
       CIN        27  113072286  4.397406e+06  4.187862e+06  14000000     5
       CLE        29   87663766  3.654936e+06  3.022888e+06  15000000     3
       COL        25   95688600  5.129872e+06  3.827544e+06  20000000     5
       DET        25  172284750  8.081387e+06  6.891390e+06  28000000     5
       HOU        28   72256200  2.708849e+06  2.580579e+06  10000000     2
       KCA        27  112107025  3.580328e+06  4.152112e+06  12500000     1
       LAA        27  120005415  6.188836e+06  4.444645e+06  24000000     3
       LAN        29  215792000  8.570340e+06  7.441103e+06  32571000     1
       MIA        24   68056500  3.306945e+06  2.835688e+06  11000000     3
       MIL        29  100850000  4.503944e+06  3.477586e+06  14000000     4
       MIN        25  107755000  5.509770e+06  4.310200e+06  23000000     2
       NYA        29  212751957  8.355235e+06  7.336274e+06  23125000     2
       NYN        25   96766683  5.257764e+06  3.870667e+06  20000000     1
       OAK        28   79053501  3.456385e+06  2.823339e+06  13000000     5
       PHI        26  111693000  7.015524e+06  4.295885e+06  25000000     5
       PIT        29   88892499  3.246218e+06  3.065259e+06  11666666     2
       SDN        26  118441300  5.527876e+06  4.555435e+06  21250000     4
       SEA        25  122208700  6.762336e+06  4.888348e+06  24857000     4
       SFN        27  164701500  6.091981e+06  6.100056e+06  21000000     2
       SLN        26  119241500  5.801085e+06  4.586212e+06  19500000     1
       TBA        29   64521233  2.696028e+06  2.224870e+06  11000000     4
       TEX        30  143742789  6.984724e+06  4.791426e+06  24000000     1
       TOR        25  112992400  6.269735e+06  4.519696e+06  22000000     1
       WAS        29  155587472  5.965111e+06  5.365085e+06  21000000     2

              DivWin WCWin LgWin WSWin  Ghome  attendance  ARank
yearID teamID
1985   ATL         N   NaN     N     N   81.0   1350137.0      8
       BAL         N   NaN     N     N   81.0   2132387.0      7
       BOS         N   NaN     N     N   81.0   1786633.0      8
       CAL         N   NaN     N     N   79.0   2567427.0      5
       CHA         N   NaN     N     N   81.0   1669888.0      6
       CHN         N   NaN     N     N   81.0   2161534.0      7
       CIN         N   NaN     N     N   81.0   1834619.0      5
       CLE         N   NaN     N     N   81.0    655181.0     10
       DET         N   NaN     N     N   81.0   2286609.0      6
       HOU         N   NaN     N     N   81.0   1184314.0      6
       KCA         Y   NaN     Y     Y   82.0   2162717.0      1
       LAN         Y   NaN     N     N   81.0   3264593.0      4
       MIN         N   NaN     N     N   84.0   1651814.0      7
       ML4         N   NaN     N     N   80.0   1360265.0      9
       MON         N   NaN     N     N   81.0   1502494.0      6
       NYA         N   NaN     N     N   80.0   2214587.0      5
       NYN         N   NaN     N     N   81.0   2761601.0      5
       OAK         N   NaN     N     N   79.0   1334599.0      7
       PHI         N   NaN     N     N   81.0   1830350.0      8
       PIT         N   NaN     N     N   80.0    735900.0      9
       SDN         N   NaN     N     N   81.0   2210352.0      6
       SEA         N   NaN     N     N   83.0   1128696.0      9
       SFN         N   NaN     N     N   81.0    818697.0      9
       SLN         Y   NaN     Y     N   81.0   2637563.0      2
       TEX         N   NaN     N     N   80.0   1112497.0     10
       TOR         Y   NaN     N     N   80.0   2468925.0      4
1986   ATL         N   NaN     N     N   81.0   1387181.0      9
       BAL         N   NaN     N     N   79.0   1973176.0     10
       BOS         Y   NaN     Y     N   81.0   2147641.0      2
       CAL         Y   NaN     N     N   82.0   2655872.0      4
...              ...   ...   ...   ...    ...         ...    ...
2015   ARI         N     N     N     N   81.0   2080145.0      6
       ATL         N     N     N     N   81.0   2001392.0      7
       BAL         N     N     N     N   78.0   2281202.0      6
       BOS         N     N     N     N   81.0   2880694.0      8
       CHA         N     N     N     N   81.0   1755810.0      7
       CHN         N     Y     N     N   81.0   2959812.0      6
       CIN         N     N     N     N   81.0   2419506.0      8
       CLE         N     N     N     N   80.0   1388905.0      6
       COL         N     N     N     N   81.0   2506789.0      8
       DET         N     N     N     N   81.0   2726048.0      8
       HOU         N     Y     N     N   81.0   2153585.0      5
       KCA         Y     N     Y     Y   81.0   2708549.0      1
       LAA         N     N     N     N   81.0   3012765.0      6
       LAN         Y     N     N     N   81.0   3764815.0      4
       MIA         N     N     N     N   81.0   1752235.0      6
       MIL         N     N     N     N   81.0   2542558.0      7
       MIN         N     N     N     N   81.0   2220054.0      5
       NYA         N     Y     N     N   81.0   3193795.0      5
       NYN         Y     N     Y     N   81.0   2569753.0      2
       OAK         N     N     N     N   81.0   1768175.0      8
       PHI         N     N     N     N   81.0   1831080.0      8
       PIT         N     Y     N     N   81.0   2498596.0      5
       SDN         N     N     N     N   81.0   2459742.0      7
       SEA         N     N     N     N   81.0   2193581.0      7
       SFN         N     N     N     N   81.0   3375882.0      5
       SLN         Y     N     N     N   81.0   3520889.0      4
       TBA         N     N     N     N   84.0   1287054.0      7
       TEX         Y     N     N     N   81.0   2491875.0      4
       TOR         Y     N     N     N   81.0   2794891.0      4
       WAS         N     N     N     N   81.0   2619843.0      5

[888 rows x 13 columns]

In [40]:
print team_with_salaries_df.loc[2014]

        count        sum           std          mean      amax  Rank DivWin  \
teamID
ARI        26   97861500  3.823383e+06  3.763904e+06  11000000     5      N
ATL        24   97609000  4.779448e+06  4.067042e+06  14250000     2      N
BAL        28  103416000  4.349065e+06  3.693429e+06  15000000     1      Y
BOS        31  139019929  4.887357e+06  4.484514e+06  16000000     5      N
CHA        24   81830500  4.150391e+06  3.409604e+06  15000000     4      N
CHN        27   65522500  2.446508e+06  2.426759e+06  11000000     5      N
CIN        28  108217500  3.914747e+06  3.864911e+06  12000000     4      N
CLE        26   82151899  4.192258e+06  3.159688e+06  15000000     3      N
COL        30   95403500  4.090896e+06  3.180117e+06  16000000     4      N
DET        23  152855500  7.276494e+06  6.645891e+06  22000000     1      Y
HOU        20   35116300  2.888056e+06  1.755815e+06  12000000     4      N
KCA        25   74594075  3.508175e+06  2.983763e+06  13500000     2      N
LAA        27  121988250  6.343043e+06  4.518083e+06  23000000     1      Y
LAN        32  217014600  7.414982e+06  6.781706e+06  26000000     1      Y
MIA        27   41836900  1.641936e+06  1.549515e+06   6500000     4      N
MIL        27  101217000  4.783824e+06  3.748778e+06  16000000     3      N
MIN        27   83762500  4.944916e+06  3.102315e+06  23000000     5      N
NYA        24  197543907  8.609457e+06  8.230996e+06  23000000     2      N
NYN        27   85556990  4.574335e+06  3.168777e+06  20000000     3      N
OAK        26   72408400  3.075531e+06  2.784938e+06  10500000     2      N
PHI        32  180944967  7.551086e+06  5.654530e+06  25000000     5      N
PIT        28   77178000  3.095823e+06  2.756357e+06  13000000     2      N
SDN        28   75685700  2.854136e+06  2.703061e+06  10525000     3      N
SEA        25   92531100  6.297282e+06  3.701244e+06  24000000     3      N
SFN        28  163510167  5.751721e+06  5.839649e+06  20000000     2      N
SLN        28  120693000  6.143556e+06  4.310464e+06  19500000     1      Y
TBA        25   72689100  3.376912e+06  2.907564e+06  14000000     4      N
TEX        24  112255059  6.252972e+06  4.677294e+06  24000000     5      N
TOR        25  109920100  4.590757e+06  4.396804e+06  16000000     3      N
WAS        30  131983680  4.800542e+06  4.399456e+06  20000000     1      Y

       WCWin LgWin WSWin  Ghome  attendance  ARank
teamID
ARI        N     N     N   81.0   2073730.0      8
ATL        N     N     N   81.0   2354305.0      5
BAL        N     N     N   81.0   2464473.0      4
BOS        N     N     N   81.0   2956089.0      8
CHA        N     N     N   81.0   1650821.0      7
CHN        N     N     N   81.0   2652113.0      8
CIN        N     N     N   81.0   2476664.0      7
CLE        N     N     N   81.0   1437393.0      6
COL        N     N     N   81.0   2680329.0      7
DET        N     N     N   81.0   2917209.0      4
HOU        N     N     N   81.0   1751829.0      7
KCA        Y     Y     N   81.0   1956482.0      3
LAA        N     N     N   81.0   3095935.0      4
LAN        N     N     N   81.0   3782337.0      4
MIA        N     N     N   81.0   1732283.0      7
MIL        N     N     N   81.0   2797384.0      6
MIN        N     N     N   81.0   2250606.0      8
NYA        N     N     N   81.0   3401624.0      5
NYN        N     N     N   81.0   2148808.0      6
OAK        Y     N     N   81.0   2003628.0      5
PHI        N     N     N   81.0   2423852.0      8
PIT        Y     N     N   81.0   2442564.0      5
SDN        N     N     N   81.0   2195373.0      6
SEA        N     N     N   81.0   2064334.0      6
SFN        Y     Y     Y   81.0   3368697.0      2
SLN        N     N     N   81.0   3540649.0      4
TBA        N     N     N   81.0   1446464.0      7
TEX        N     N     N   81.0   2718733.0      8
TOR        N     N     N   81.0   2375525.0      6
WAS        N     N     N   81.0   2579389.0      4

In [41]:
print 'arank corr team salaries:', team_with_salaries_df['ARank'].corr(team_with_salaries_df['sum'])

arank corr team salaries: -0.24897004885052806

In [42]:
print 'arank corr team Ghome', team_with_salaries_df['ARank'].corr(team_with_salaries_df['Ghome'])

arank corr team Ghome 0.018350805778188012

In [43]:
print 'arank corr team home attendances', team_with_salaries_df['ARank'].corr(team_with_salaries_df['attendance'])

arank corr team home attendances -0.4336584805405877

In [44]:
print 'salaries corr team home attendances', team_with_salaries_df['sum'].corr(team_with_salaries_df['attendance'])

salaries corr team home attendances 0.5712660270644402

In [45]:
print 'arank corr team players:', team_with_salaries_df['ARank'].corr(team_with_salaries_df['count'])

arank corr team players: 0.015906237476913093

In [46]:
def rolling_years_corr(rolling_size, team_with_salaries_df):
    team_with_salaries_df_sal = team_with_salaries_df['sum']
    team_with_salaries_df[str(rolling_size)+'ysal_avg'] = team_with_salaries_df_sal.rolling(rolling_size).mean()
    team_with_salaries_df_arank = team_with_salaries_df['ARank']
    team_with_salaries_df[str(rolling_size)+'yarank_avg'] = team_with_salaries_df_arank.rolling(rolling_size).mean()

In [47]:
rolling_years_corr(3, team_with_salaries_df)
rolling_years_corr(5, team_with_salaries_df)
print team_with_salaries_df.loc[2014]

        count        sum           std          mean      amax  Rank DivWin  \
teamID
ARI        26   97861500  3.823383e+06  3.763904e+06  11000000     5      N
ATL        24   97609000  4.779448e+06  4.067042e+06  14250000     2      N
BAL        28  103416000  4.349065e+06  3.693429e+06  15000000     1      Y
BOS        31  139019929  4.887357e+06  4.484514e+06  16000000     5      N
CHA        24   81830500  4.150391e+06  3.409604e+06  15000000     4      N
CHN        27   65522500  2.446508e+06  2.426759e+06  11000000     5      N
CIN        28  108217500  3.914747e+06  3.864911e+06  12000000     4      N
CLE        26   82151899  4.192258e+06  3.159688e+06  15000000     3      N
COL        30   95403500  4.090896e+06  3.180117e+06  16000000     4      N
DET        23  152855500  7.276494e+06  6.645891e+06  22000000     1      Y
HOU        20   35116300  2.888056e+06  1.755815e+06  12000000     4      N
KCA        25   74594075  3.508175e+06  2.983763e+06  13500000     2      N
LAA        27  121988250  6.343043e+06  4.518083e+06  23000000     1      Y
LAN        32  217014600  7.414982e+06  6.781706e+06  26000000     1      Y
MIA        27   41836900  1.641936e+06  1.549515e+06   6500000     4      N
MIL        27  101217000  4.783824e+06  3.748778e+06  16000000     3      N
MIN        27   83762500  4.944916e+06  3.102315e+06  23000000     5      N
NYA        24  197543907  8.609457e+06  8.230996e+06  23000000     2      N
NYN        27   85556990  4.574335e+06  3.168777e+06  20000000     3      N
OAK        26   72408400  3.075531e+06  2.784938e+06  10500000     2      N
PHI        32  180944967  7.551086e+06  5.654530e+06  25000000     5      N
PIT        28   77178000  3.095823e+06  2.756357e+06  13000000     2      N
SDN        28   75685700  2.854136e+06  2.703061e+06  10525000     3      N
SEA        25   92531100  6.297282e+06  3.701244e+06  24000000     3      N
SFN        28  163510167  5.751721e+06  5.839649e+06  20000000     2      N
SLN        28  120693000  6.143556e+06  4.310464e+06  19500000     1      Y
TBA        25   72689100  3.376912e+06  2.907564e+06  14000000     4      N
TEX        24  112255059  6.252972e+06  4.677294e+06  24000000     5      N
TOR        25  109920100  4.590757e+06  4.396804e+06  16000000     3      N
WAS        30  131983680  4.800542e+06  4.399456e+06  20000000     1      Y

       WCWin LgWin WSWin  Ghome  attendance  ARank     3ysal_avg  3yarank_avg  \
teamID
ARI        N     N     N   81.0   2073730.0      8  1.126176e+08     7.000000
ATL        N     N     N   81.0   2354305.0      5  1.030579e+08     6.000000
BAL        N     N     N   81.0   2464473.0      4  9.962883e+07     5.666667
BOS        N     N     N   81.0   2956089.0      8  1.133483e+08     5.666667
CHA        N     N     N   81.0   1650821.0      7  1.080888e+08     6.333333
CHN        N     N     N   81.0   2652113.0      8  9.545764e+07     7.666667
CIN        N     N     N   81.0   2476664.0      7  8.519017e+07     7.333333
CLE        N     N     N   81.0   1437393.0      6  8.529730e+07     7.000000
COL        N     N     N   81.0   2680329.0      7  9.525763e+07     6.666667
DET        N     N     N   81.0   2917209.0      4  1.101370e+08     5.666667
HOU        N     N     N   81.0   1751829.0      7  9.445843e+07     6.000000
KCA        Y     Y     N   81.0   1956482.0      3  8.752196e+07     4.666667
LAA        N     N     N   81.0   3095935.0      4  7.723288e+07     4.666667
LAN        N     N     N   81.0   3782337.0      4  1.378656e+08     3.666667
MIA        N     N     N   81.0   1732283.0      7  1.269466e+08     5.000000
MIL        N     N     N   81.0   2797384.0      6  1.200228e+08     5.666667
MIN        N     N     N   81.0   2250606.0      8  7.560547e+07     7.000000
NYA        N     N     N   81.0   3401624.0      5  1.275078e+08     6.333333
NYN        N     N     N   81.0   2148808.0      6  1.222878e+08     6.333333
OAK        Y     N     N   81.0   2003628.0      5  1.185031e+08     5.333333
PHI        N     N     N   81.0   2423852.0      8  1.129701e+08     6.333333
PIT        Y     N     N   81.0   2442564.0      5  1.101771e+08     6.000000
SDN        N     N     N   81.0   2195373.0      6  1.112696e+08     6.333333
SEA        N     N     N   81.0   2064334.0      6  8.179827e+07     5.666667
SFN        Y     Y     Y   81.0   3368697.0      2  1.105757e+08     4.666667
SLN        N     N     N   81.0   3540649.0      4  1.255781e+08     4.000000
TBA        N     N     N   81.0   1446464.0      7  1.189641e+08     4.333333
TEX        N     N     N   81.0   2718733.0      8  1.018791e+08     6.333333
TOR        N     N     N   81.0   2375525.0      6  9.828809e+07     7.000000
WAS        N     N     N   81.0   2579389.0      4  1.180529e+08     6.000000

          5ysal_avg  5yarank_avg
teamID
ARI     100666148.4          6.2
ATL     109596894.0          6.2
BAL     107775574.0          6.0
BOS     110321939.8          6.0
CHA     103947385.8          6.4
CHN      97479585.8          6.4
CIN      99601285.8          6.8
CLE      95348465.6          7.2
COL      86625179.8          7.0
DET     100830179.8          6.4
HOU      94748939.8          6.2
KCA      88024254.8          5.4
LAA      95991525.0          5.0
LAN     120313745.0          4.4
MIA      98110025.0          5.0
MIL     111330165.0          4.8
MIN     113163850.0          5.8
NYA     128274981.4          6.0
NYN     101983459.4          6.4
OAK     108097759.4          6.0
PHI     124043352.8          6.4
PIT     122726452.8          5.8
SDN      98354811.4          6.0
SEA      99749633.4          6.0
SFN     117969986.8          5.4
SLN     105919593.4          4.6
TBA     105021813.4          5.0
TEX     112335685.2          5.4
TOR     115813485.2          5.4
WAS     109508187.8          5.8

In [48]:
print 'arank corr team Ghome rolling 5 years', team_with_salaries_df['5yarank_avg'].corr(team_with_salaries_df['5ysal_avg'])

arank corr team Ghome rolling 5 years -0.3215991285050088

In [49]:
print 'arank corr team Ghome rolling 3 years', team_with_salaries_df['3yarank_avg'].corr(team_with_salaries_df['3ysal_avg'])

arank corr team Ghome rolling 3 years -0.28920052289936754

#### 计算球员数据的相关性

In [137]:
def add_player_birthyear(laries_df, player_df):
    return salaries_df.join(player_df[['birthYear']], on='playerID', how='inner', rsuffix='_p')
    
def calc_player_age_to_salaries_table(salaries_df):
    return salaries_df.apply(lambda row: row['yearID']-row['birthYear'], axis=1)

salaries_df = add_player_birthyear(salaries_df, pd.read_csv('./baseballdatabank-master/core/Master.csv').set_index('playerID'))
salaries_df['age'] = calc_player_age_to_salaries_table(salaries_df)

Empty DataFrame
Columns: [yearID, teamID, lgID, playerID, salary, birthYear, age]
Index: []
       yearID teamID lgID   playerID   salary  birthYear   age
0        1985    ATL   NL  barkele01   870000     1955.0  30.0
552      1986    ATL   NL  barkele01   880000     1955.0  31.0
1291     1987    ATL   NL  barkele01   890000     1955.0  32.0
1613     1987    ML4   AL  barkele01    72500     1955.0  32.0
1917     1988    ATL   NL  barkele01   900000     1955.0  33.0
1        1985    ATL   NL  bedrost01   550000     1957.0  28.0
1071     1986    PHI   NL  bedrost01   650000     1957.0  29.0
1750     1987    PHI   NL  bedrost01  1050000     1957.0  30.0
2374     1988    PHI   NL  bedrost01   925000     1957.0  31.0
3069     1989    PHI   NL  bedrost01  1450000     1957.0  32.0
4026     1990    SFN   NL  bedrost01  1450000     1957.0  33.0
4485     1991    MIN   AL  bedrost01  1350000     1957.0  34.0
5611     1993    ATL   NL  bedrost01   500000     1957.0  36.0
6534     1994    ATL   NL  bedrost01   750000     1957.0  37.0
7418     1995    ATL   NL  bedrost01   750000     1957.0  38.0
2        1985    ATL   NL  benedbr01   545000     1955.0  30.0
553      1986    ATL   NL  benedbr01   565000     1955.0  31.0
1292     1987    ATL   NL  benedbr01   615000     1955.0  32.0
1918     1988    ATL   NL  benedbr01   665000     1955.0  33.0
2581     1989    ATL   NL  benedbr01   395000     1955.0  34.0
3        1985    ATL   NL   campri01   633333     1953.0  32.0
554      1986    ATL   NL   campri01   600000     1953.0  33.0
4        1985    ATL   NL  ceronri01   625000     1954.0  31.0
925      1986    ML4   AL  ceronri01   675000     1954.0  32.0
1665     1987    NYA   AL  ceronri01   250000     1954.0  33.0
2297     1988    NYA   AL  ceronri01   300000     1954.0  34.0
2639     1989    BOS   AL  ceronri01   490000     1954.0  35.0
3797     1990    NYA   AL  ceronri01   600000     1954.0  36.0
4578     1991    NYN   NL  ceronri01   100000     1954.0  37.0
5261     1992    MON   NL  ceronri01   230000     1954.0  38.0
...       ...    ...  ...        ...      ...        ...   ...
25462    2015    TBA   AL  andrima01   507500     1989.0  26.0
25464    2015    TBA   AL  beckhti01   508100     1990.0  25.0
25465    2015    TBA   AL  belivje01   513600     1987.0  28.0
25466    2015    TBA   AL  boxbebr01   521400     1988.0  27.0
25468    2015    TBA   AL  colomal01   510800     1988.0  27.0
25477    2015    TBA   AL  karnsna01   508800     1987.0  28.0
25478    2015    TBA   AL  kiermke01   513800     1990.0  25.0
25487    2015    TBA   AL  souzast01   508700     1989.0  26.0
25490    2015    TBA   AL  yateski01   512800     1987.0  28.0
25496    2015    TEX   AL  claudal01   508500     1992.0  23.0
25499    2015    TEX   AL  edwarjo02   508500     1988.0  27.0
25502    2015    TEX   AL  freemsa01   517000     1987.0  28.0
25507    2015    TEX   AL  kleinph01   509500     1989.0  26.0
25510    2015    TEX   AL  martini01   515000     1990.0  25.0
25511    2015    TEX   AL  mendero01   509500     1990.0  25.0
25513    2015    TEX   AL   odorro01   513850     1994.0  21.0
25517    2015    TEX   AL    ruary01   508500     1990.0  25.0
25519    2015    TEX   AL  smolija01   508500     1989.0  26.0
25531    2015    TOR   AL  hynesco01   510800     1985.0  30.0
25535    2015    TOR   AL  norrida01   508700     1993.0  22.0
25536    2015    TOR   AL  pillake01   512000     1989.0  26.0
25537    2015    TOR   AL  pompeda01   508500     1992.0  23.0
25540    2015    TOR   AL  sanchaa01  1021600     1992.0  23.0
25543    2015    TOR   AL  stromma01   514700     1991.0  24.0
25545    2015    TOR   AL  tollest01   517300     1983.0  32.0
25546    2015    WAS   NL  barreaa01   514200     1988.0  27.0
25548    2015    WAS   NL  dendema01   512972     1987.0  28.0
25562    2015    WAS   NL  robincl01   525000     1985.0  30.0
25568    2015    WAS   NL  taylomi02   508700     1991.0  24.0
25570    2015    WAS   NL  treinbl01   512800     1988.0  27.0

[25567 rows x 7 columns]

In [138]:
salaries_df[['birthYear', 'age']] = salaries_df[['birthYear', 'age']].astype('int')
print salaries_df

       yearID teamID lgID   playerID   salary  birthYear  age
0        1985    ATL   NL  barkele01   870000       1955   30
552      1986    ATL   NL  barkele01   880000       1955   31
1291     1987    ATL   NL  barkele01   890000       1955   32
1613     1987    ML4   AL  barkele01    72500       1955   32
1917     1988    ATL   NL  barkele01   900000       1955   33
1        1985    ATL   NL  bedrost01   550000       1957   28
1071     1986    PHI   NL  bedrost01   650000       1957   29
1750     1987    PHI   NL  bedrost01  1050000       1957   30
2374     1988    PHI   NL  bedrost01   925000       1957   31
3069     1989    PHI   NL  bedrost01  1450000       1957   32
4026     1990    SFN   NL  bedrost01  1450000       1957   33
4485     1991    MIN   AL  bedrost01  1350000       1957   34
5611     1993    ATL   NL  bedrost01   500000       1957   36
6534     1994    ATL   NL  bedrost01   750000       1957   37
7418     1995    ATL   NL  bedrost01   750000       1957   38
2        1985    ATL   NL  benedbr01   545000       1955   30
553      1986    ATL   NL  benedbr01   565000       1955   31
1292     1987    ATL   NL  benedbr01   615000       1955   32
1918     1988    ATL   NL  benedbr01   665000       1955   33
2581     1989    ATL   NL  benedbr01   395000       1955   34
3        1985    ATL   NL   campri01   633333       1953   32
554      1986    ATL   NL   campri01   600000       1953   33
4        1985    ATL   NL  ceronri01   625000       1954   31
925      1986    ML4   AL  ceronri01   675000       1954   32
1665     1987    NYA   AL  ceronri01   250000       1954   33
2297     1988    NYA   AL  ceronri01   300000       1954   34
2639     1989    BOS   AL  ceronri01   490000       1954   35
3797     1990    NYA   AL  ceronri01   600000       1954   36
4578     1991    NYN   NL  ceronri01   100000       1954   37
5261     1992    MON   NL  ceronri01   230000       1954   38
...       ...    ...  ...        ...      ...        ...  ...
25462    2015    TBA   AL  andrima01   507500       1989   26
25464    2015    TBA   AL  beckhti01   508100       1990   25
25465    2015    TBA   AL  belivje01   513600       1987   28
25466    2015    TBA   AL  boxbebr01   521400       1988   27
25468    2015    TBA   AL  colomal01   510800       1988   27
25477    2015    TBA   AL  karnsna01   508800       1987   28
25478    2015    TBA   AL  kiermke01   513800       1990   25
25487    2015    TBA   AL  souzast01   508700       1989   26
25490    2015    TBA   AL  yateski01   512800       1987   28
25496    2015    TEX   AL  claudal01   508500       1992   23
25499    2015    TEX   AL  edwarjo02   508500       1988   27
25502    2015    TEX   AL  freemsa01   517000       1987   28
25507    2015    TEX   AL  kleinph01   509500       1989   26
25510    2015    TEX   AL  martini01   515000       1990   25
25511    2015    TEX   AL  mendero01   509500       1990   25
25513    2015    TEX   AL   odorro01   513850       1994   21
25517    2015    TEX   AL    ruary01   508500       1990   25
25519    2015    TEX   AL  smolija01   508500       1989   26
25531    2015    TOR   AL  hynesco01   510800       1985   30
25535    2015    TOR   AL  norrida01   508700       1993   22
25536    2015    TOR   AL  pillake01   512000       1989   26
25537    2015    TOR   AL  pompeda01   508500       1992   23
25540    2015    TOR   AL  sanchaa01  1021600       1992   23
25543    2015    TOR   AL  stromma01   514700       1991   24
25545    2015    TOR   AL  tollest01   517300       1983   32
25546    2015    WAS   NL  barreaa01   514200       1988   27
25548    2015    WAS   NL  dendema01   512972       1987   28
25562    2015    WAS   NL  robincl01   525000       1985   30
25568    2015    WAS   NL  taylomi02   508700       1991   24
25570    2015    WAS   NL  treinbl01   512800       1988   27

[25567 rows x 7 columns]

计算场均BATTING数据
G              Games
AB             At Bats
R              Runs
H              Hits
2B             Doubles
3B             Triples
HR             Homeruns
RBI            Runs Batted In
SB             Stolen Bases
CS             Caught Stealing
BB             Base on Balls
SO             Strikeouts
IBB            Intentional walks
HBP            Hit by pitch
SH             Sacrifice hits
SF             Sacrifice flies
GIDP           Grounded into double plays

In [ ]:
batting_df = pd.read_csv('./baseballdatabank-master/core/Batting.csv')
batting_df = batting_df[batting_df['yearID']>=START_YEAR]
print batting_df

In [31]:

def gameavg_batting(row):
    games = row['G']
    if games == 0:
        games = 1
    gv_ab = row['AB']/games
    gv_h = row['H']/games
    gv_2b = row['2B']/games
    gv_3b = row['3B']/games
    gv_hr = row['HR']/games
    gv_rbi = row['RBI']/games
    gv_sb = row['SB']/games
    gv_cs = row['CS']/games
    gv_bb = row['3B']/games
    gv_so = row['SO']/games
    gv_ibb = row['IBB']/games
    gv_hbp = row['HBP']/games
    gv_sh = row['SH']/games
    gv_sf = row['SF']/games
    gv_gidp = row['SO']/games
    return pd.Series({'yearID':row['yearID'], 'playerID':row['playerID'], 'teamID':row['teamID'], 'gv_ab':gv_ab, 
            'gv_h':gv_h, 
            'gv_2b':gv_2b,
            'gv_3b':gv_3b,
            'gv_hr':gv_hr,
            'gv_rbi':gv_rbi,
            'gv_sb':gv_sb,
            'gv_cs':gv_cs,
            'gv_bb':gv_bb,
            'gv_so':gv_so,
            'gv_ibb':gv_ibb,
            'gv_hbp':gv_hbp,
            'gv_sh':gv_sh,
            'gv_sf':gv_sf,
            'gv_gidp':gv_gidp})
print batting_df.apply(lambda row: gameavg_batting(row), axis=1)   
#batting_df[['gv_ab','gv_h','gv_2b','gv_3b','gv_hr','gv_rbi','gv_sb','gv_cs','gv_bb','gv_so','gv_ibb','gv_hbp','gv_sh','gv_sf','gv_gidp']] = batting_df.apply(lambda row: gameavg_batting(row), axis=1)
#print batting_df

           gv_2b     gv_3b     gv_ab     gv_bb     gv_cs   gv_gidp      gv_h  \
0       0.000000  0.000000  4.000000  0.000000  0.000000  0.000000  0.000000
1       0.240000  0.000000  4.720000  0.000000  0.040000  0.000000  1.280000
2       0.137931  0.172414  4.724138  0.172414  0.034483  0.172414  1.379310
3       0.370370  0.074074  4.925926  0.074074  0.037037  0.074074  1.629630
4       0.440000  0.120000  4.800000  0.120000  0.080000  0.040000  1.560000
5       0.166667  0.083333  4.083333  0.083333  0.083333  0.083333  0.916667
6       0.000000  0.000000  4.000000  0.000000  0.000000  0.000000  1.000000
7       0.322581  0.290323  5.064516  0.290323  0.193548  0.032258  2.032258
8       1.000000  0.000000  5.000000  0.000000  0.000000  0.000000  1.000000
9       0.111111  0.055556  4.777778  0.055556  0.000000  0.000000  0.722222
10      0.045455  0.454545  4.045455  0.454545  0.045455  0.181818  1.227273
11      0.000000  0.000000  3.000000  0.000000  0.000000  0.000000  0.000000
12      0.000000  0.000000  3.600000  0.000000  0.000000  0.000000  0.700000
13      0.000000  0.000000  5.000000  0.000000  0.000000  0.000000  2.000000
14      0.450000  0.050000  4.700000  0.050000  0.000000  0.100000  1.650000
15      0.103448  0.103448  4.413793  0.103448  0.137931  0.068966  1.103448
16      0.000000  0.000000  4.000000  0.000000  0.000000  3.000000  0.000000
17      0.000000  0.000000  4.000000  0.000000  0.000000  0.000000  1.000000
18      0.058824  0.058824  4.294118  0.058824  0.058824  0.117647  1.000000
19      0.000000  0.000000  2.000000  0.000000  0.000000  0.000000  0.000000
20      0.080000  0.200000  4.240000  0.200000  0.000000  0.080000  1.120000
21      0.103448  0.103448  5.241379  0.103448  0.000000  0.137931  1.586207
22      0.133333  0.000000  4.466667  0.000000  0.000000  0.066667  1.000000
23      0.000000  0.000000  4.666667  0.000000  0.000000  0.000000  0.333333
24      0.166667  0.250000  5.250000  0.250000  0.000000  0.083333  1.250000
25      0.105263  0.000000  4.578947  0.000000  0.000000  0.052632  1.052632
26      0.275862  0.034483  4.379310  0.034483  0.034483  0.103448  1.103448
27      0.157895  0.052632  4.052632  0.052632  0.052632  0.105263  1.052632
28      0.000000  0.000000  4.714286  0.000000  0.000000  0.000000  1.000000
29      0.296296  0.037037  4.370370  0.037037  0.111111  0.000000  1.407407
...          ...       ...       ...       ...       ...       ...       ...
101302  0.000000  0.000000  1.380952  0.000000  0.000000  0.285714  0.190476
101303  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101304  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101305  0.186667  0.026667  3.713333  0.026667  0.053333  0.633333  0.973333
101306  0.050000  0.000000  1.650000  0.000000  0.000000  1.050000  0.250000
101307  0.083333  0.000000  1.833333  0.000000  0.000000  1.083333  0.333333
101308  0.000000  0.000000  0.500000  0.000000  0.000000  0.266667  0.050000
101309  0.000000  0.000000  0.250000  0.000000  0.000000  0.000000  0.000000
101310  0.041667  0.000000  0.708333  0.000000  0.000000  0.250000  0.125000
101311  0.184211  0.000000  4.000000  0.000000  0.026316  0.947368  1.157895
101312  0.000000  0.000000  0.166667  0.000000  0.000000  0.083333  0.083333
101313  0.000000  0.000000  0.062500  0.000000  0.000000  0.000000  0.000000
101314  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101315  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101316  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101317  0.238095  0.015873  3.777778  0.015873  0.039683  0.801587  1.134921
101318  0.111111  0.013889  1.763889  0.013889  0.000000  0.388889  0.458333
101319  0.000000  0.000000  0.117647  0.000000  0.000000  0.029412  0.058824
101320  0.142857  0.007143  2.271429  0.007143  0.007143  0.521429  0.571429
101321  0.115385  0.000000  3.346154  0.000000  0.000000  0.557692  0.903846
101322  0.114286  0.057143  2.200000  0.057143  0.000000  0.485714  0.371429
101323  0.000000  0.000000  0.444444  0.000000  0.111111  0.055556  0.000000
101324  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101325  0.030303  0.000000  1.909091  0.000000  0.000000  0.545455  0.303030
101326  0.263158  0.010526  3.642105  0.010526  0.000000  0.831579  0.905263
101327  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101328  0.298507  0.029851  3.507463  0.029851  0.014925  0.388060  0.940299
101329  0.271186  0.016949  3.932203  0.016949  0.050847  0.508475  1.118644
101330  0.098214  0.000000  3.125000  0.000000  0.008929  1.178571  0.544643
101331  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

          gv_hbp     gv_hr    gv_ibb    gv_rbi     gv_sb     gv_sf     gv_sh  \
0            NaN  0.000000       NaN  0.000000  0.000000       NaN       NaN
1            NaN  0.000000       NaN  0.520000  0.320000       NaN       NaN
2            NaN  0.000000       NaN  0.655172  0.103448       NaN       NaN
3            NaN  0.074074       NaN  1.000000  0.037037       NaN       NaN
4            NaN  0.000000       NaN  0.640000  0.240000       NaN       NaN
5            NaN  0.000000       NaN  0.416667  0.000000       NaN       NaN
6            NaN  0.000000       NaN  2.000000  0.000000       NaN       NaN
7            NaN  0.000000       NaN  1.096774  0.354839       NaN       NaN
8            NaN  0.000000       NaN  1.000000  0.000000       NaN       NaN
9            NaN  0.000000       NaN  0.611111  0.055556       NaN       NaN
10           NaN  0.136364       NaN  0.818182  0.000000       NaN       NaN
11           NaN  0.000000       NaN  0.000000  0.000000       NaN       NaN
12           NaN  0.000000       NaN  0.100000  0.200000       NaN       NaN
13           NaN  0.000000       NaN  1.666667  0.666667       NaN       NaN
14           NaN  0.050000       NaN  1.050000  0.200000       NaN       NaN
15           NaN  0.000000       NaN  0.793103  0.137931       NaN       NaN
16           NaN  0.000000       NaN  0.000000  0.000000       NaN       NaN
17           NaN  0.000000       NaN  0.000000  0.000000       NaN       NaN
18           NaN  0.000000       NaN  0.470588  0.176471       NaN       NaN
19           NaN  0.000000       NaN  0.000000  0.000000       NaN       NaN
20           NaN  0.000000       NaN  0.520000  0.040000       NaN       NaN
21           NaN  0.000000       NaN  0.827586  0.206897       NaN       NaN
22           NaN  0.000000       NaN  0.700000  0.133333       NaN       NaN
23           NaN  0.000000       NaN  0.000000  0.000000       NaN       NaN
24           NaN  0.083333       NaN  1.166667  0.000000       NaN       NaN
25           NaN  0.000000       NaN  0.526316  0.263158       NaN       NaN
26           NaN  0.000000       NaN  0.620690  0.068966       NaN       NaN
27           NaN  0.000000       NaN  0.842105  0.631579       NaN       NaN
28           NaN  0.000000       NaN  0.285714  0.000000       NaN       NaN
29           NaN  0.000000       NaN  0.962963  0.222222       NaN       NaN
...          ...       ...       ...       ...       ...       ...       ...
101302  0.000000  0.000000  0.000000  0.047619  0.000000  0.000000  0.238095
101303  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101304  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101305  0.100000  0.073333  0.013333  0.406667  0.100000  0.033333  0.000000
101306  0.000000  0.000000  0.000000  0.200000  0.000000  0.000000  0.250000
101307  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.250000
101308  0.000000  0.000000  0.000000  0.033333  0.000000  0.000000  0.000000
101309  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101310  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.041667
101311  0.000000  0.131579  0.000000  0.447368  0.052632  0.000000  0.000000
101312  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.083333
101313  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.062500
101314  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101315  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101316  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101317  0.015873  0.055556  0.015873  0.349206  0.126984  0.000000  0.000000
101318  0.000000  0.000000  0.000000  0.125000  0.013889  0.000000  0.013889
101319  0.000000  0.000000  0.000000  0.088235  0.000000  0.000000  0.000000
101320  0.021429  0.100000  0.014286  0.300000  0.021429  0.014286  0.021429
101321  0.019231  0.038462  0.000000  0.307692  0.000000  0.019231  0.000000
101322  0.000000  0.000000  0.028571  0.142857  0.085714  0.000000  0.057143
101323  0.055556  0.000000  0.000000  0.000000  0.166667  0.000000  0.000000
101324  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101325  0.000000  0.000000  0.000000  0.090909  0.000000  0.000000  0.181818
101326  0.010526  0.168421  0.000000  0.768421  0.010526  0.105263  0.000000
101327  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
101328  0.000000  0.089552  0.029851  0.492537  0.014925  0.044776  0.000000
101329  0.016949  0.118644  0.016949  0.389831  0.033898  0.033898  0.000000
101330  0.044643  0.098214  0.000000  0.250000  0.000000  0.017857  0.071429
101331  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

           gv_so   playerID teamID  yearID
0       0.000000  abercda01    TRO    1871
1       0.000000   addybo01    RC1    1871
2       0.172414  allisar01    CL1    1871
3       0.074074  allisdo01    WS3    1871
4       0.040000  ansonca01    RC1    1871
5       0.083333  armstbo01    FW1    1871
6       0.000000  barkeal01    RC1    1871
7       0.032258  barnero01    BS1    1871
8       0.000000  barrebi01    FW1    1871
9       0.000000  barrofr01    BS1    1871
10      0.181818   bassjo01    CL1    1871
11      0.000000  battijo01    CL1    1871
12      0.000000  bealsto01    WS3    1871
13      0.000000  beaveed01    TRO    1871
14      0.100000  bechtge01    PH1    1871
15      0.068966  bellast01    TRO    1871
16      3.000000  berkena01    PH1    1871
17      0.000000  berryto01    PH1    1871
18      0.117647  berthha01    WS3    1871
19      0.000000  biermch01    FW1    1871
20      0.080000   birdge01    RC1    1871
21      0.137931  birdsda01    BS1    1871
22      0.066667  brainas01    WS3    1871
23      0.000000  brannmi01    CH1    1871
24      0.083333  burrohe01    WS3    1871
25      0.052632  careyto01    FW1    1871
26      0.103448  carleji01    CL1    1871
27      0.105263   conefr01    BS1    1871
28      0.000000  connone01    TRO    1871
29      0.000000  cravebi01    TRO    1871
...          ...        ...    ...     ...
101302  0.285714  wislema01    ATL    2015
101303  0.000000  wojcias01    HOU    2015
101304  0.000000   wolfra02    DET    2015
101305  0.633333   wongko01    SLN    2015
101306  1.050000   woodal02    ATL    2015
101307  1.083333   woodal02    LAN    2015
101308  0.266667   woodtr01    CHN    2015
101309  0.000000  wootero01    MIL    2015
101310  0.250000  worleva01    PIT    2015
101311  0.947368  wrighda03    NYN    2015
101312  0.083333  wrighmi01    BAL    2015
101313  0.000000  wrighst01    BOS    2015
101314  0.000000  wrighwe01    BAL    2015
101315  0.000000  wrighwe01    LAA    2015
101316  0.000000  yateski01    TBA    2015
101317  0.801587  yelicch01    MIA    2015
101318  0.388889   ynoara01    COL    2015
101319  0.029412  youngch03    KCA    2015
101320  0.521429  youngch04    NYA    2015
101321  0.557692  youngde03    BAL    2015
101322  0.485714  younger03    ATL    2015
101323  0.055556  younger03    NYN    2015
101324  0.000000  zieglbr01    ARI    2015
101325  0.545455  zimmejo02    WAS    2015
101326  0.831579  zimmery01    WAS    2015
101327  0.000000   zitoba01    OAK    2015
101328  0.388060  zobribe01    OAK    2015
101329  0.508475  zobribe01    KCA    2015
101330  1.178571  zuninmi01    SEA    2015
101331  0.000000   zychto01    SEA    2015

[101332 rows x 18 columns]

In [21]:
'gv_ab, gv_h, gv_2b, gv_3b, gv_hr, gv_rbi, gv_sb, gv_cs, gv_bb, gv_so, gv_ibb, gv_hbp, gv_sh, gv_sf, gv_gidp'.split(', ')

['gv_ab',
 'gv_h',
 'gv_2b',
 'gv_3b',
 'gv_hr',
 'gv_rbi',
 'gv_sb',
 'gv_cs',
 'gv_bb',
 'gv_so',
 'gv_ibb',
 'gv_hbp',
 'gv_sh',
 'gv_sf',
 'gv_gidp']